.contanier{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;

}

.card{
    width: 300px;
    height: 500px;
    display: flex;
    padding: 1em ;
    margin: 5em 0;
    align-items: center;
    justify-content: center;

}